body {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    padding: 10px 30px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 17px;
}

    /* Esconder o checkbox padrão */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Criar o checkbox customizado */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #8d6090d2;
    border-radius: 1px;
}

/* Adicionar uma cor de fundo cinza ao passar o mouse */
.container:hover input ~ .checkmark {
    background-color: #c457cbd2;
}

/* Quando o checkbox é clicado, adicionar um fundo rosa */
.container input:checked ~ .checkmark {
    background-color: #8c2a92d2;
}

/* Criar o ícone de check, escondido quando não estiver selecionado */
.container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Exibir o ícone quando selecionado */
.container input:checked ~ .checkmark:after {
    display: block;
}

* {
    box-sizing: border-box;
}

.type-1 {
    border-radius: 5px;
    border: 1px solid #822a89ff;
    transition: .3s border-color;
    background-color: #b555bda8;
    margin: 2px 2px 2px 2px
}

    .type-1:hover {
        border: 1px solid #451849ff;
    }