@page "/login"
@inject NavigationManager navigation
@inject IAuthenticationServices authenticationservices

<h3>Login</h3>
<EditForm Model = "userViewModel" OnSubmit = "HandleLogin">
    <div>
        <label for="username">Name</label>
        <input id = "username" @bind="userViewModel.UserName" class="type-1"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input id = "password" @bind="userViewModel.Password" type = "password" class="type-1"/>
    </div>
    <button type="submit" class = "btn btn-primary" style="margin-right: 15px;">Login</button>
    <button @onclick="Register" class = "btn btn-primary" style="margin-right: 15px;" >Register</button>
</EditForm>


@code {
    private UserViewModel userViewModel = new UserViewModel();
    private string message = string.Empty;

    async Task HandleLogin()
    {
        await authenticationservices.Login(userViewModel);
        navigation.NavigateTo("/");
    }

    void Register()
    {
        navigation.NavigateTo("register");
    }
}