@page "/login"
@inject NavigationManager navigation
@inject IAuthenticationServices authenticationservices

<h3>Login</h3>
<EditForm Model = "userLogin" OnValidSubmit = "HandleLogin">
    <DataAnnotationsValidator/>
    <div>
        <label for="usermane">Userame</label>
        <InputText id = "username" @bind-Value="userLogin.UserName" class="form-control"/>
        <ValidationMessage For="@(()=>userLogin.UserName)"/>
    </div>
    <div>
        <label for="password">Password</label>
        <InputText id = "password" @bind-Value="userLogin.Password" type = "password" class="form-control"/>
        <ValidationMessage For="@(()=>userLogin.Password)"/>
    </div>
    <br />
    <button type="submit" class = "button-24" >Login</button>
    <button @onclick="Register" class = "button-24" >Register</button>
</EditForm>


@code {
    private UserLoginDTO userLogin = new UserLoginDTO();
    private string message = string.Empty;

    async Task HandleLogin()
    {
        //await authenticationservices.Login(userLogin);
        navigation.NavigateTo("/");
    }

    void Register()
    {
        navigation.NavigateTo("register");
    }
}