@page "/register"
@inject IAuthenticationServices authenticationservices

<h3>Register</h3>
<EditForm Model = "@usermodel" OnSubmit = "HandleRegister">
    <div>
        <label for="usermane">Name</label>
        <input id = "username" @bind="usermodel.UserName" class="type-1"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input id = "password" @bind="usermodel.Password" type = "password" class = "type-1"/>
    </div>
    <div>
        <label for = "role" >Role</label><br />
        <select id = "role" @bind="usermodel.RolesId" class="form-select">
            <option value="1">Administrador</option>
            <option value="2">Client</option>
            <option value="3">Manager</option>
        </select>
    </div>
    <br />
    <button type="submit" class = "button-24">Register</button>
</EditForm>


@code {
    private UserViewModel usermodel = new UserViewModel();
    async Task HandleRegister()
    {
        await authenticationservices.Register(usermodel);
    }
}