@page "/producttype"
@inject IProductService productservice

<div class ="form-group">
    @foreach (var item in productservice.ProductTypes)
    {
        <input type="checkbox" @onchange="eventArgs => { CheckboxClicked(item, eventArgs.Value); }" />@item.Name <br />
    
    }
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        await productservice.GetProductType();
    }

    public List<ProductType> ClubMember { get; set; } = new List<ProductType>();

    void CheckboxClicked(ProductType productType, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            if (!ClubMember.Contains(productType))
            {
                ClubMember.Add(productType);
            }
        }
        else
        {
            if (ClubMember.Contains(productType))
            {
                ClubMember.Remove(productType);
            }
        }
    }
}
