@inject ICartService cartservice
@inject ISyncLocalStorageService localstorage
@implements IDisposable

<a href="cart" class="button-24">
    <i class="oi oi-cart"></i>
    <span class = "badge">@GetCartItemsCount()</span>
</a>

@code {
    private int GetCartItemsCount()
    {
        var count = localstorage.GetItem<int>("count");
        return count;
    }

    protected override void OnInitialized()
    {
        cartservice.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        cartservice.OnChange -= StateHasChanged;
    }
}
