#containerid::-webkit-scrollbar {
    width: 10px;
    background-color: #e5e5e5;
}

#containerid::-webkit-scrollbar-thumb {
    background-color: #8d6090d2;
    border-radius: 9px;
}

    #containerid::-webkit-scrollbar-thumb:hover {
        background-color: #765179d2;
        border: 1px solid #8d6090d2;
    }

    #containerid::-webkit-scrollbar-thumb:active {
        background-color: #5b2a5fd2;
        border: 1px solid #333333;
    }

#containerid::-webkit-scrollbar-track {
    border: 1px gray solid;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 6px gray inset;
} 

.container{
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: center;
}

img{
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    transition: transform .2s;
    margin-bottom: 10px
}

    img:hover{
        transform: scale(1.1) rotate(5deg)
    }

.featured-product{
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    max-width: 200px
}

@media (max-width: 1023.98px){
    .container{
        justify-content: flex-start
    }
}