@inject NavigationManager navigation
@inject ILocalStorageService localstorage
@inject AuthenticationStateProvider authstate


<AuthorizeView>
    <Authorized>
        <button @onclick="Logout" class = "button-24">Logout</button>
    </Authorized>
    <NotAuthorized>
        <a href="/login?returnUrl=@navigation.ToBaseRelativePath(navigation.Uri)" class = "button-24">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    
    async Task Logout()
    {
        await localstorage.RemoveItemAsync("token");
        await authstate.GetAuthenticationStateAsync();
        navigation.NavigateTo("/");
    }
}