@inject ICategoryService categoryservice
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorECommerce</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/featured" Match="NavLinkMatch.All">
                <span class="oi oi-globe" aria-hidden="true"></span> Top Products
            </NavLink>
        </div>
        @foreach (var category in categoryservice.Categories)
        {
            <div class="nav-item px-3">
            <NavLink class="nav-link" href="@category.Url" >
                <span class="oi oi-@category.Icon" aria-hidden="true"></span>
                @category.Name
            </NavLink>
        </div>
        }
        <AuthorizeView Roles = "manager">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" @onclick="()=>expandSub=!expandSub">
                <span class="oi oi-monitor" aria-hidden="true"></span> Manager
            </NavLink>
            @if (expandSub)
            {
                <ul class = "nav flex-column">
                    <li class = "nav-item px-3">
                        <NavLink class="nav-link" href="manager/addproduct">
                            <span class="oi oi-plus" aria-hidden="true"></span> Add Product
                            </NavLink>
                    </li>
                    <li class = "nav-item px-3">
                        <NavLink class="nav-link" href="manager/stock">
                            <span class="oi oi-script" aria-hidden="true"></span> Stock
                        </NavLink>
                    </li>
                </ul>
            }
        </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSub;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await categoryservice.GetCategories();
    }
}
